body {
  font-family: "Raleway", sans-serif;
}

.background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -10;
  background: $black;
  transition: 0.3s;
}

.background-light {
  background: white;
}

.app {
  position: relative;
  z-index: 1;
}

section {
  position: relative;
  overflow: hidden;
  padding-bottom: 300px;
}

.app-wrapper {
  max-width: 1750px;
  width: 95%;
  margin: 0 auto;
}

.button-blue {
  width: 220px;
  height: 50px;
  @include flex();
  background: #406aff;
  border-radius: 5px;
  cursor: pointer;

  & span {
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.03em;
    color: $white;
  }
}

.shape {
  background: #303033;
  height: 2px;
  margin-bottom: 80px;

  &--on-white {
    background: #f9f9f9;
  }
}

.next-screen-link {
  @include flex(center, flex-start);

  & p {
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #6a6a74;
    margin-left: 20px;
  }

  & img {
    transform: rotate(90deg);
  }

  &__arrow--on-white path {
    fill: #6a6a74;
  }
}

.background-logo {
  position: fixed;
  top: 100px;
  right: 0;
  z-index: -10;
  transition: 0.07s;
}
